.text-xs {
    font-size: 14px;
    line-height: 13px;
}

.text-sm {
    font-size: 15px;
    line-height: 14px;
}

.text-md {
    font-size: 20px;
    line-height: 19px;
}

.text-lg {
    font-size: 22px;
    line-height: 21px;
}

.text-bold {
    font-weight: bold;
}