@import '../../scss/common.scss';
@import '../../scss/colors.scss';

$gap: 15px;

.case {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    &__title {
        margin-bottom: 31px;
        color: $color--white;
    }

    &__decore {
        margin-bottom: 48px;
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        max-width: 1440px;
        gap: $gap;
        margin: 0 auto;
        padding: 0 20px;
    
        &-item {
            width: calc((100% - #{$gap} *6) / 7);
            
            @media (max-width: $is-desktop) {
                width: calc((100% - #{$gap} *4) / 5);
            }
        }
    }
}
